//.container {
//  //height: 45px;
//  height: 100%;
//  width: 70px;
//
//  display: flex;
//  justify-content: flex-end;
//
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//
//  z-index: 2;
//
//  background: var(--deep-blue);
//  user-select: none;
//}

.logo {
  margin: 5px;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar_container {
  z-index: 3;
}

.explorer_container {
  height: 100% !important;

  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;

  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;

  box-sizing: border-box !important;

  transition: opacity 0.15s !important;

  padding-top: 35px !important;
  padding-bottom: 25px !important;
}

.explorer {
  width: 100%;
  height: 100%;

  border-right: 1px solid #1d2e3e;

  background: rgba(4, 19, 34, 0.3);
}

.terminal_container {
  //height: 100px;
  //width: 100% !important;

  position: fixed !important;
  bottom: 0 !important;
  //left: 0 !important;
  right: 0 !important;

  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;

  box-sizing: border-box !important;

  transition: opacity 0.1s !important;

  padding-left: 40px !important;
  padding-bottom: 25px !important;
}

.terminal {
  width: 100%;
  height: 100%;

  border-top: 1px solid #1d2e3e;

  background: rgba(4, 19, 34, 0.3);
}

.topbar {
  height: 35px;

  flex-direction: row;

  //padding-top: 3px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  //thick white border

  border-bottom: 1px solid #1d2e3e;

  border-radius: 10px 10px 0 0;

  background: rgba(4, 19, 34, 0.3);
  user-select: none;
}

.topbar_item_close {
  margin-top: 4px;
  padding: 6px 12px 6px 12px;

  border-radius: 0 10px 0 0;

  transition: background-color 0.25s, transform 0.25s;

  cursor: pointer;
}

.topbar_item_maximize {
  //margin-top: 4px;
  padding: 9px 15px 9px 15px;

  transition: background-color 0.25s, transform 0.25s;

  cursor: pointer;
}

.topbar_item {
  margin-top: 4px;
  padding: 6px 12px 6px 12px;

  transition: background-color 0.25s, transform 0.25s;

  cursor: pointer;
}

.topbar_item_close:hover {
  background: #e53e3e;
}

.topbar_item_close:active {
  background: #bb3232;
}

.topbar_item_maximize:hover {
  background: #1d2e3e;
}

.topbar_item_maximize:active {
  background: #1a2938;
}

.topbar_item:hover {
  background: #1d2e3e;
}

.topbar_item:active {
  background: #1a2938;
}

.leftbar_container {
  width: 40px;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  box-sizing: border-box;

  padding-top: 35px;
  padding-bottom: 25px;

  user-select: none;
}

.leftbar {
  width: 100%;
  height: 100%;

  flex-direction: column;

  border-right: 1px solid #1d2e3e;

  background: rgba(4, 19, 34, 0.3);
}

.leftbar_item {
  padding: 5px;

  border-radius: 7px;

  //background: red;

  transform: scale(0.95);

  transition: all 0.25s;

  cursor: pointer;
}

.leftbar_item_top {
  //margin-top: 2px;
  margin-left: 0.4px;
}

.leftbar_item_active {
  background: #1d2e3e;
  transform: scale(1);
}

.leftbar_item:hover:not(.leftbar_item_bottom) {
  background: #1d2e3e;
  transform: scale(1);
}

.leftbar_item:active:not(.leftbar_item_active) {
  background: #1a2938;
  transform: scale(0.95);
}

.leftbar_item_bottom {
  //margin-bottom: 1px;
}

.leftbar_item_bottom:hover {
  background: #1d2e3e;
  transform: scale(1);
}

.leftbar_item_bottom:active {
  background: #1a2938;
  transform: scale(0.95);
}

.bottombar {
  height: 25px;

  flex-direction: row;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  border-top: 1px solid #1d2e3e;

  border-radius: 0 0 10px 10px;

  background: rgba(4, 19, 34, 0.3);

  user-select: none;
}

.bottombar_item {
  margin-top: 4px;
  padding: 3px;

  border-radius: 100%;

  transition: all 0.25s;

  cursor: pointer;
}

.bottombar_item:hover {
  background: #1d2e3e;
}

//
//.bottombar_item_reload:active {
//  rotate: 360deg;
//}

.bottombar_item_reload_spin {
  animation: spin 0.25s ease-in-out forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rightbar_container {
  width: 40px;
  height: 100%;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  box-sizing: border-box;

  padding-top: 35px;
  padding-bottom: 25px;

  user-select: none;
}

.rightbar {
  width: 100%;
  height: 100%;

  flex-direction: column;

  border-left: 1px solid #1d2e3e;

  background: rgba(4, 19, 34, 0.3);
}